.contato-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contato-contactform {
  width: 100%;
  height: 1285px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.contato-form {
  gap: 32px;
  top: 413px;
  left: 80px;
  width: 626px;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
}
.contato-input {
  gap: 8px;
  width: 295px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.contato-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.contato-field {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.contato-text02 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.contato-input1 {
  gap: 8px;
  width: 297px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.contato-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.contato-field1 {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.contato-text06 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.contato-input2 {
  gap: 8px;
  width: 626px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.contato-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.contato-field2 {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.contato-text10 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.contato-input3 {
  gap: 8px;
  width: 626px;
  height: 194px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.contato-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.contato-field3 {
  gap: 8px;
  display: flex;
  padding: 12px 16px;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.contato-text14 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.contato-button {
  gap: 8px;
  display: flex;
  padding: 16px 32px;
  flex-grow: 1;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.contato-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.contato-headline {
  gap: 24px;
  top: 244px;
  left: 80px;
  width: 624px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.contato-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: normal;
}
.contato-text20 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.contato-navigation-footer {
  top: 1021px;
  left: 0px;
  width: 1440px;
  height: 264px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(90deg, rgba(235, 250, 255, 1) 0%, rgba(255, 198, 194, 1) 50%, rgba(137, 166, 209, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
}
.contato-items {
  gap: 24px;
  top: 48px;
  left: 954px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.contato-text22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.contato-text24 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.contato-text26 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.contato-text28 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.contato-items1 {
  gap: 24px;
  top: 48px;
  left: 1173px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.contato-text30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.contato-text32 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.contato-text34 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.contato-text36 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.contato-social-icons {
  gap: 8px;
  top: 176px;
  left: 80px;
  width: 184px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.contato-buttons-icon {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.contato-icon {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.contato-icon1 {
  top: 2.0399999618530273px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.contato-buttons-icon1 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.contato-icon2 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.contato-icon3 {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.contato-buttons-icon2 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.contato-icon4 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.contato-icon5 {
  top: 5px;
  left: 2px;
  width: 20px;
  height: 14px;
  position: absolute;
}
.contato-buttons-icon3 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.contato-icon6 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.contato-icon7 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.contato-divider {
  top: 1px;
  left: 80px;
  width: 1280px;
  height: 1px;
  position: absolute;
  align-self: stretch;
}
.contato-imagem202404012103012823 {
  top: 292px;
  left: 777px;
  width: 595px;
  height: 586px;
  position: absolute;
}
.contato-navigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 164px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(90deg, rgba(235, 250, 255, 1) 0%, rgba(255, 198, 194, 1) 47%, rgba(137, 166, 209, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
}
.contato-items2 {
  gap: 48px;
  top: 52px;
  left: 695px;
  width: 665px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}
.contato-text38 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.contato-text40 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.contato-text42 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.contato-text44 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.contato-login {
  width: 132px;
  height: 47px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(130, 130, 130, 0.2800000011920929);
}
.contato-text46 {
  color: rgba(0, 0, 0, 1);
  width: 132px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 150%;
}
.contato-imagem202404012103012821 {
  top: -20px;
  left: 0px;
  width: 194px;
  height: 191px;
  position: absolute;
}
.contato-imagem202404012103012822 {
  top: 1021px;
  left: 0px;
  width: 194px;
  height: 191px;
  position: absolute;
}
