.sobre-ns-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sobre-ns-sobre-ns {
  width: 100%;
  height: 2077px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.sobre-ns-frame1321316142 {
  gap: 10px;
  top: 222px;
  left: 291px;
  width: 857px;
  display: flex;
  padding: 10px;
  position: absolute;
  background: linear-gradient(90deg, rgba(235, 250, 255, 1) 0%, rgba(255, 198, 194, 1) 50%, rgba(137, 166, 209, 1) 100%);
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
}
.sobre-ns-copy {
  gap: 24px;
  width: 837px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.sobre-ns-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: normal;
}
.sobre-ns-text02 {
  color: rgba(130, 130, 130, 0.5);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 150%;
}
.sobre-ns-missoe-valores {
  gap: 8px;
  top: 490px;
  left: 80px;
  width: 1298px;
  display: flex;
  position: absolute;
  background: linear-gradient(16deg, rgba(235, 250, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
}
.sobre-ns-text04 {
  color: rgba(19, 2, 2, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
.sobre-ns-text06 {
  color: rgba(130, 130, 130, 1);
  width: 1298px;
  height: auto;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-bruno-rezendede-lima {
  gap: 8px;
  top: 1398px;
  left: 97px;
  width: 377px;
  display: flex;
  position: absolute;
  background: linear-gradient(16deg, rgba(235, 250, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
}
.sobre-ns-text10 {
  color: rgba(19, 2, 2, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
.sobre-ns-text12 {
  color: rgba(130, 130, 130, 1);
  width: 377px;
  height: auto;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-navigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 164px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(90deg, rgba(235, 250, 255, 1) 0%, rgba(255, 198, 194, 1) 47%, rgba(137, 166, 209, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
}
.sobre-ns-items {
  gap: 48px;
  top: 56px;
  left: 695px;
  width: 665px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}
.sobre-ns-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-text20 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-text22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-login {
  width: 132px;
  height: 47px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(130, 130, 130, 0.2800000011920929);
}
.sobre-ns-text24 {
  color: rgba(0, 0, 0, 1);
  width: 132px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 150%;
}
.sobre-ns-navigation-footer {
  top: 1813px;
  left: 0px;
  width: 1440px;
  height: 264px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(90deg, rgba(235, 250, 255, 1) 0%, rgba(255, 198, 194, 1) 50%, rgba(137, 166, 209, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
}
.sobre-ns-items1 {
  gap: 24px;
  top: 48px;
  left: 954px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.sobre-ns-text26 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-text28 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-text30 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-text32 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-items2 {
  gap: 24px;
  top: 48px;
  left: 1173px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.sobre-ns-text34 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-text36 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-text38 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-text40 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-social-icons {
  gap: 8px;
  top: 176px;
  left: 80px;
  width: 184px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.sobre-ns-buttons-icon {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.sobre-ns-icon {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.sobre-ns-icon1 {
  top: 2.0399999618530273px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.sobre-ns-buttons-icon1 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.sobre-ns-icon2 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.sobre-ns-icon3 {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.sobre-ns-buttons-icon2 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.sobre-ns-icon4 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.sobre-ns-icon5 {
  top: 5px;
  left: 2px;
  width: 20px;
  height: 14px;
  position: absolute;
}
.sobre-ns-buttons-icon3 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.sobre-ns-icon6 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.sobre-ns-icon7 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.sobre-ns-divider {
  top: 1px;
  left: 80px;
  width: 1280px;
  height: 1px;
  position: absolute;
  align-self: stretch;
}
.sobre-ns-imagem202404012103012822 {
  top: 1813px;
  left: 1px;
  width: 194px;
  height: 191px;
  position: absolute;
}
.sobre-ns-imagem202404012103012821 {
  top: -9px;
  left: 0px;
  width: 194px;
  height: 191px;
  position: absolute;
}
.sobre-ns-eduardo {
  gap: 8px;
  top: 1398px;
  left: 540px;
  width: 377px;
  display: flex;
  position: absolute;
  background: linear-gradient(16deg, rgba(255, 198, 194, 1) 0%, rgba(255, 255, 255, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
}
.sobre-ns-text42 {
  color: rgba(19, 2, 2, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
.sobre-ns-text44 {
  color: rgba(130, 130, 130, 1);
  width: 377px;
  height: auto;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-lucas {
  gap: 8px;
  top: 1398px;
  left: 984px;
  width: 377px;
  display: flex;
  position: absolute;
  background: linear-gradient(16deg, rgba(137, 166, 209, 1) 0%, rgba(255, 255, 255, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
}
.sobre-ns-text48 {
  color: rgba(19, 2, 2, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
.sobre-ns-text50 {
  color: rgba(130, 130, 130, 1);
  width: 377px;
  height: auto;
  text-align: left;
  line-height: 150%;
}
.sobre-ns-frame1321316143 {
  gap: 32px;
  top: 911px;
  left: 80px;
  width: 1299px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.sobre-ns-fotolegal1 {
  width: 411px;
  height: 411px;
  border-radius: 205.5px;
}
.sobre-ns-eduardo1 {
  width: 411px;
  height: 411px;
  border-radius: 205.5px;
}
.sobre-ns-image1 {
  width: 413px;
  height: 411px;
  border-radius: 205.5px;
}
