.faq-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.faq-faq {
  width: 100%;
  height: 2077px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.faq-frame1321316142 {
  gap: 10px;
  top: 222px;
  left: 291px;
  width: 857px;
  display: flex;
  padding: 10px;
  position: absolute;
  background: linear-gradient(90deg, rgba(235, 250, 255, 1) 0%, rgba(255, 198, 194, 1) 50%, rgba(137, 166, 209, 1) 100%);
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
}
.faq-copy {
  gap: 24px;
  width: 837px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.faq-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: normal;
}
.faq-text02 {
  color: rgba(130, 130, 130, 0.5);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 150%;
}
.faq-qualadiferenaentreascampanhassociaiseosvoluntariad {
  gap: 8px;
  top: 1462px;
  left: 80px;
  width: 1298px;
  display: flex;
  position: absolute;
  background: linear-gradient(16deg, rgba(235, 250, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
}
.faq-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
.faq-text06 {
  color: rgba(130, 130, 130, 1);
  width: 1298px;
  height: auto;
  text-align: left;
  line-height: 150%;
}
.faq-qualovalormnimoemximodasdoaes {
  gap: 8px;
  top: 1138px;
  left: 80px;
  width: 1298px;
  display: flex;
  position: absolute;
  background: linear-gradient(16deg, rgba(137, 166, 209, 1) 0%, rgba(255, 255, 255, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
}
.faq-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
.faq-text12 {
  color: rgba(130, 130, 130, 1);
  width: 1298px;
  height: auto;
  text-align: left;
  line-height: 150%;
}
.faq-possopromoverminhaprpriacampanhasocial {
  gap: 8px;
  top: 814px;
  left: 80px;
  width: 1298px;
  display: flex;
  position: absolute;
  background: linear-gradient(16deg, rgba(255, 198, 194, 1) 0%, rgba(255, 255, 255, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
}
.faq-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
.faq-text18 {
  color: rgba(130, 130, 130, 1);
  width: 1298px;
  height: auto;
  text-align: left;
  line-height: 150%;
}
.faq-asdoaessoannimas {
  gap: 8px;
  top: 490px;
  left: 80px;
  width: 1298px;
  display: flex;
  position: absolute;
  background: linear-gradient(16deg, rgba(235, 250, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  flex-direction: column;
}
.faq-text22 {
  color: rgba(19, 2, 2, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
.faq-text24 {
  color: rgba(130, 130, 130, 1);
  width: 1298px;
  height: auto;
  text-align: left;
  line-height: 150%;
}
.faq-navigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 164px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(90deg, rgba(235, 250, 255, 1) 0%, rgba(255, 198, 194, 1) 47%, rgba(137, 166, 209, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
}
.faq-items {
  gap: 48px;
  top: 56px;
  left: 695px;
  width: 665px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}
.faq-text28 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.faq-text30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.faq-text32 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.faq-text34 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.faq-login {
  width: 132px;
  height: 47px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(130, 130, 130, 0.2800000011920929);
}
.faq-text36 {
  color: rgba(0, 0, 0, 1);
  width: 132px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 150%;
}
.faq-navigation-footer {
  top: 1813px;
  left: 0px;
  width: 1440px;
  height: 264px;
  display: flex;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(90deg, rgba(235, 250, 255, 1) 0%, rgba(255, 198, 194, 1) 50%, rgba(137, 166, 209, 1) 100%);
  align-items: flex-start;
  flex-shrink: 0;
}
.faq-items1 {
  gap: 24px;
  top: 48px;
  left: 954px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.faq-text38 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.faq-text40 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.faq-text42 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.faq-text44 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.faq-items2 {
  gap: 24px;
  top: 48px;
  left: 1173px;
  width: 187px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.faq-text46 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.faq-text48 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.faq-text50 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.faq-text52 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.faq-social-icons {
  gap: 8px;
  top: 176px;
  left: 80px;
  width: 184px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.faq-buttons-icon {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.faq-icon {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.faq-icon1 {
  top: 2.0399999618530273px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.faq-buttons-icon1 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.faq-icon2 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.faq-icon3 {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.faq-buttons-icon2 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.faq-icon4 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.faq-icon5 {
  top: 5px;
  left: 2px;
  width: 20px;
  height: 14px;
  position: absolute;
}
.faq-buttons-icon3 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
.faq-icon6 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.faq-icon7 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.faq-divider {
  top: 1px;
  left: 80px;
  width: 1280px;
  height: 1px;
  position: absolute;
  align-self: stretch;
}
.faq-imagem202404012103012822 {
  top: 1813px;
  left: 1px;
  width: 194px;
  height: 191px;
  position: absolute;
}
.faq-imagem202404012103012821 {
  top: -9px;
  left: 0px;
  width: 194px;
  height: 191px;
  position: absolute;
}
