html{
  font-family: Arial, Helvetica, sans-serif;
}

.home-page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page {
  width: 100%;
  max-width: 1440px;
  padding: 20px;
  box-sizing: border-box;
}

header{
  text-decoration: none;
  vertical-align:bottom;
}

.cabecalhoGradiente {
  font-size: medium;
  gap: 10px;
  /* display: grid; */
  /* grid-template-columns: 20% 16% 16% 16% 16% 16%; */
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background: linear-gradient(90deg, rgba(235, 250, 255, 1) 0%, rgba(255, 198, 194, 1) 50%, rgba(137, 166, 209, 1) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  /* text-align: center; */
}

.redirecionamentos{
  font-size: x-large;
  display: flex;
  align-items:flex-end;
  justify-content: space-around;
  font-weight: 400;
  font-style: normal;
  vertical-align:bottom;
  padding: 10px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: rgb(83, 83, 83);
}

img{
  max-width: min-content;
  max-height: min-content;
  float: left;
}

h1{
  font-size: x-large;
  padding-left: 20px;
  /* padding-top: 20%; */
  float: left;
}

h2{
  font-size: large;
  /* padding-left: 20px; */
  padding-top: 20%;
  float: left;
}

.home-page-customer-quote {
  margin-top: 20px;
  padding: 15px;
  background: linear-gradient(90deg, rgba(235, 250, 255, 1) 0%, rgba(255, 198, 194, 1) 50%, rgba(137, 166, 209, 1) 100%);
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-page-customer-quote img {
  margin-right: 20px;
}